In [5]:
name = "Muhammad\"Moawiz"
fname = 'Muhammad "Q" Moawiz'
fname

'Muhammad "Q" Moawiz'

In [13]:
"Student_Name" +  name

'Student_NameMuhammad"Moawiz'

In [16]:
name = "Muhammad Moawiz"
fname  = "Qazi Muhammad Iqbal"
education    = "BE lectrical"
roll_no      = 1234


card ='''
NED University
Post Graduation Diploma
Batch-3


Student_Name = {}
Father_Name  = {}
Education    = {}
Roll_N0      = {}
    '''.format(name,fname,education,roll_no)


print(card)

NED University
Post Graduation Diploma
Batch-3


Student_Name = Muhammad Moawiz
Father_Name  = Qazi Muhammad Iqbal
Education    = BE lectrical
Roll_N0      = 1234

In [17]:
name = "Muhammad Moawiz"
fname  = "Qazi Muhammad Iqbal"
education    = "BE lectrical"
roll_no      = 1234


card =f'''
NED University
Post Graduation Diploma
Batch-3


Student_Name = {name}
Father_Name  = {fname}
Education    = {education}
Roll_N0      = {roll_no}
    '''


print(card)

NED University
Post Graduation Diploma
Batch-3


Student_Name = Muhammad Moawiz
Father_Name  = Qazi Muhammad Iqbal
Education    = BE lectrical
Roll_N0      = 1234

In [ ]:
s1 =["Muhammad Moawiz""Qazi Muhammad Iqbal""BE lectrical" 1234]
print()

In [27]:
def idcard(name,fname,education,roll_no):
    card =f'''
NED University
Post Graduation Diploma
Batch-3


Student_Name = {name}
Father_Name  = {fname}
Education    = {education}
Roll_N0      = {roll_no}

--------------------------------
    '''
    return card
l =[{"Name" : "Moawiz", "Course" : "PGD" ,"Education":"BE Electrical" ,"Roll-No": 1234},{"Name" : "Hamza", "Course" : "PGD" ,"Education":"BE Mechanical" ,"Roll-No":2345},{"Name" : "Umer", "Course" : "PGD" ,"Education":"BE Civil" ,"Roll-No": 7894}]
x =lambda a :idcard(*a)
for i in l:
    print(x(i.values()))

NED University
Post Graduation Diploma
Batch-3


Student_Name = Moawiz
Father_Name  = PGD
Education    = BE Electrical
Roll_N0      = 1234

--------------------------------


NED University
Post Graduation Diploma
Batch-3


Student_Name = Hamza
Father_Name  = PGD
Education    = BE Mechanical
Roll_N0      = 2345

--------------------------------


NED University
Post Graduation Diploma
Batch-3


Student_Name = Umer
Father_Name  = PGD
Education    = BE Civil
Roll_N0      = 7894

--------------------------------

In [51]:
s1 =["Muhammad Moawiz","Qazi Muhammad Iqbal","BE lectrical" ,1234]
print(idcard(*s1))

print("------->---------------->")

l ={"name" : "Moawiz", "fname" : "PGD" ,"education":"BE Electrical" ,"roll_no": 1234}
print(idcard(**l))

NED University
Post Graduation Diploma
Batch-3


Student_Name = Muhammad Moawiz
Father_Name  = Qazi Muhammad Iqbal
Education    = BE lectrical
Roll_N0      = 1234

--------------------------------

------->---------------->

NED University
Post Graduation Diploma
Batch-3


Student_Name = Moawiz
Father_Name  = PGD
Education    = BE Electrical
Roll_N0      = 1234

--------------------------------

In [34]:
idcard=lambda name,fname,education,roll_no :f'''
NED University
Post Graduation Diploma
Batch-3


Student_Name = {name}
Father_Name  = {fname}
Education    = {education}
Roll_N0      = {roll_no}

--------------------------------
    '''
data =[{"name" : "Moawiz", "fname": "M Iqbal","education":"BE Electrical" ,"roll_no": 1234},{"name" : "Hamza", "fname" : "ABC" ,"education":"BE Mechanical" ,"roll_no":2345},{"name" : "Umer", "fname" : "XYZ" ,"education":"BE Civil" ,"roll_no": 7894}]
for i in data:
    print(idcard(**i))

NED University
Post Graduation Diploma
Batch-3


Student_Name = Moawiz
Father_Name  = M Iqbal
Education    = BE Electrical
Roll_N0      = 1234

--------------------------------


NED University
Post Graduation Diploma
Batch-3


Student_Name = Hamza
Father_Name  = ABC
Education    = BE Mechanical
Roll_N0      = 2345

--------------------------------


NED University
Post Graduation Diploma
Batch-3


Student_Name = Umer
Father_Name  = XYZ
Education    = BE Civil
Roll_N0      = 7894

--------------------------------

In [42]:
def idcard(name,fname,education,roll_no):
    card =f'''
NED University
Post Graduation Diploma
Batch-3


Student_Name = {name}
Father_Name  = {fname}
Education    = {education}
Roll_N0      = {roll_no}

--------------------------------
    '''
    return card

A=idcard("Moawiz",'M Iqbal','BE Electrical',1234)
print(A)

NED University
Post Graduation Diploma
Batch-3


Student_Name = Moawiz
Father_Name  = M Iqbal
Education    = BE Electrical
Roll_N0      = 1234

--------------------------------

In [43]:
a,b,c =[1,2,3]
print(a)
print(b)
print(c)

1
2
3

## Optional Argument n number

In [53]:
def number(num1,num2,*num):
    print(num1,num2,num)

number(1,2,3,4,5,6,7,8)

1 2 (3, 4, 5, 6, 7, 8)

In [55]:
def number(num1,num2,*num):
    sum  =num1 ,num2 ,num
    return sum

Add_number=number(1,2,3,4,5,6,7,8)
print(Add_number)

(1, 2, (3, 4, 5, 6, 7, 8))

In [56]:
def number(num1,num2,**num):
    sum  =num1 ,num2 ,num
    return sum

Add_number=number(1,2,name="moawiz",roll_no=1223,education="Be Electrical")
print(Add_number)

(1, 2, {'name': 'moawiz', 'roll_no': 1223, 'education': 'Be Electrical'})

In [63]:
def number(num1,num2,*num):
    print(num1,num2,num)
    print(num1+num2+sum(num))
    
number(1,2,3,4,5,66,77,88)

1 2 (3, 4, 5, 66, 77, 88)
246

In [66]:
def number(num1,num2,*num):
    print(num1,num2,num)
    
    output = num1 + num2
    for n in num:
        output += n
    
    return output
    
  
    
number(1,2,3,4,5,66,77,88)

1 2 (3, 4, 5, 66, 77, 88)

246

In [77]:
def number(num1,num2,**num):
    print(num1,num2,num)
    output =num1 + num2
    
    for n in num.values():
        if type(n) is type(1):#n is integer
            output +=n
            
    return output

number(1,2, name="moawiz", roll_no=1223, education="Be Electrical",number =54)

1 2 {'name': 'moawiz', 'roll_no': 1223, 'education': 'Be Electrical', 'number': 54}

1280

In [78]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [93]:
def my_num(num1 , num2, *num):
    return num1 +num2+sum(num)


list=[[1,23,4,5],[2,3,4,56,7],[4,54,5,345,3]]
print(list)
print(list[0])
print(list[0][2])

for i in list:
    print(my_num(*i))

[[1, 23, 4, 5], [2, 3, 4, 56, 7], [4, 54, 5, 345, 3]]
[1, 23, 4, 5]
4
33
72
411

# Generator Function

In [98]:
def my_range(num1, num2):  #example of Function
    for i in range(num1 , num2+1):
        print(i)
    
my_range(2,9)

2
3
4
5
6
7
8
9

In [100]:
def my_range(num1, num2):  # for generator function we use Yield key word
    for i in range(num1 , num2+1):
        yield i
    
a=my_range(2,9)
print(a)
print(next(a))
print(next(a))# next is used for generator function to print other iteration
print(next(a))
print(next(a))
print(next(a))
print(next(a))

<generator object my_range at 0x0000029F45832DD0>
2
3
4
5
6
7

# Recursive function

In [140]:
def num(n):
    if n == 0:
        return n
    return n+num(n-1)
num(6)

21

# lambda

In [103]:
a = lambda num1, num2 : num1 + num2
a(3,4)

7

In [118]:
data = [[1,"x"],[2,"y"],[3,"z"]]
print(data)
data.sort(key=lambda x : x[0], reverse = True)
data

[[1, 'x'], [2, 'y'], [3, 'z']]

[[3, 'z'], [2, 'y'], [1, 'x']]

In [127]:
lst1 = [("apple",2,100),("banana",43,200),("orange",23,300)]
lst2 = [("apple",2,100),("banana",43,200),("orange",23,300)]
lst1.sort(key=lambda x : x[0], reverse = True) # decending Order
lst1
lst2.sort(key=lambda x : x[2], reverse = False)#accending Order
lst2

[('apple', 2, 100), ('banana', 43, 200), ('orange', 23, 300)]

# Mapping

In [155]:
l = [1,2,3,4,5,6,7]
(map(lambda x : x +5 ,l))

In [156]:
l=[1,2,3,4,5]
def abc(x):
    return x+5
    
(map(abc,l))

# filter

In [157]:
l=[10,20,35,45,50]
def abc(x):
    if x%2 == 0 :
        return x
    
(filter(abc,l))